<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<h1>
  East Bay Permanent Real Estate Cooperative Investor Portal
</h1>

<form action="/" method="POST">
  <label for="personalName">
    Personal name:
    <input id="personalName" name="investor[personalName]" type="text">
  </label>
  
  <label for="familyName">
    Family name:
    <input id="familyName" name="investor[familyName]" type="text">
  </label>
  
  <label for="email">
    Email: 
    <input id="email" name="investor[email]" type="email">
  </label>
  <button>Next</button>
</form>