<% include ../common/head %>

<h1>
  East Bay Permanent Real Estate Cooperative Investor Portal
</h1>

<h2>
  Welcome <%= investor.personalName %>
</h2>

<p>
  <button id="start">
    Link Account
  </button>
</p>

<div id="paymentForm" class="dn">
  <form action="/transfer" method="POST">
    <label for="amount">
      Amount:
      <input
        id="amount"
        name="transfer[amount]"
        type="number"
        min="10"
        max="1000"
      />
    </label>
    <input
      id="transferFundingSource"
      type="hidden"
      name="transfer[fundingSource]"
    />
    <button>Transfer</button>
  </form>
</div>

<div id="iavContainer"></div>

<script type="text/javascript">
  const iavToken = "<%= iavToken %>";
  const startButton = document.getElementById("start");
  const paymentForm = document.getElementById("paymentForm");
  const transferFundingSourceInput = document.getElementById(
    "transferFundingSource"
  );

  startButton.addEventListener("click", function() {
    startButton.classList.add("dn");
    dwolla.configure("sandbox");
    dwolla.iav.start(
      iavToken,
      {
        container: "iavContainer",
        microDeposits: false,
        fallbackToMicroDeposits: false
      },
      function(err, res) {
        console.log(
          "Error: " +
            JSON.stringify(err) +
            " -- Response: " +
            JSON.stringify(res)
        );

        if (res._links["funding-source"]) {
          paymentForm.classList.remove("dn");
          transferFundingSourceInput.value = res._links["funding-source"].href;
        } else {
          alert(
            "we had a problem verifying your account. Try again later, or email us for alternate payment methods?"
          );
          startButton.classList.remove("dn");
        }
      }
    );
  });
</script>
