<p>Hi <%= @membership.name %>,</p>
<p>
  You are approved to be a member of <%= @membership.community.name %>.
  <br/>
  <%= link_to "Confirm your membership.", membership_confirmation_page_url(@membership) %>
</p>

<p><%= @membership.community.name %></p>
