<p>Hi <%= @membership.name %>,</p>
<p>
  You are approved to be a member of <%= @community.name %>.
  <br/>
  <%= link_to "Confirm your membership.", @confirm_membership_link %>
</p>

<p><%= @community.name %></p>
