<h1>Nourish Is <em>For Impact Organizations</em></strong>
<p>What if your organization was funded by
  people who benefit from and believe in it;
  instead of venture capital, loans, grants
  or big donors? What if you could <strong>
  <em>fund your impact</em> with the support
  of <em>members who are invested and engaged
  </em>in your purpose?</strong></p>
<p>

<p>Nourish provides organizations with the
  tools to <strong>attract and onboard
  members</strong>, engage them, and
  <strong><em>make a sustainable impact.</em>
  </strong></p>

<h2 id="faq">Frequently Asked Questions</h2>

<h3 id="faq__is-nourish-right-for-my-organization">
  Is Nourish Right For My Organization?</h3>

<p>Nourish, at present, is best for
  organizations that are comfortable with
  pre-release software and are looking for
  consistent, recurring funding from a wide
  pool.</p>

<h3 id="faq__how-much-does-nourish-cost">
  How Much Does Nourish Cost?</h3>

<p>Nourish is $10, per year, per set of 100
  members. If you have an existing technical
  staff, serve over 5,000 members, or want to
  perform significant visual customization you
  <em>may</em> want to purchase an enterprise
  license for $499 per year.</p>

<h3 id="faq__can-i-use-nourish-to-fund-my-organization">
  Can I Use Nourish to Fund My Organization?</h3>

<p>Nourish is in limited testing as a
  pre-alpha product. If you’re comfortable
  with that, <a href="https://www.nourish.is/communities/nourish/memberships/new">
  buy a license today</a>. If you want to
  stay informed, <a href="https://www.nourish.is/communities/nourish/memberships/new">
  become a fan</a> and get quarterly updates
  on the project.</p>

<h3 id="faq__i-have-a-different-question">I have a different question...</h3>
<%= render "support", message_template: "Hello,\nI'm with <link to your project>. I was wondering...\n\nThanks!" %>