<h1>Nourish is <em>For Developers</em></h1>
<p>Writing your own customer on-boarding and payment processing
  implementation is anywhere from hundreds to tens of thousands
  of lines of code. Services like <a href="https://www.launchrock.com/">LaunchRock</a>,
  <a href="https://auth0.com/">Auth0</a>, <a href="https://stripe.com/">Stripe</a>,
  <a href="https://convertkit.com/">ConvertKit</a>, and <a href="https://www.typeform.com/">
  TypeForm</a> reduce the amount of code you need to write, giving your customers
  a higher-quality experience and giving you powerful tools.</p>

<p>But it still takes time, effort and code to wire everything together.</p>

<p>Nourish frees you up to focus on your product by streamlining the
  paying customer on-boarding and management process.</p>

<h2 id="faq">Frequently Asked Questions</h2>
<h3 id="faq__is-nourish-right-for-my-project">Is Nourish Right for My Project?</h3>
<p>Nourish is designed for freemium and premium software as a service
  products and recurring licensing models.</p>
<p>Nourish is ideal for projects where you don’t want to write your own code to:</p>
<ol>
<li>Onboard and activate new customers.</li>
<li>Accept payments from a variety of payment sources (in-app purchases,
    stripe, gumroad, etc).</li>
<li>Provide premium behavior when a paid subscription becomes active.</li>
<li>Remove premium behavior when a paid subscription becomes inactive.</li>
</ol>

<h3 id="faq__what-payment-providers-does-nourish-support">What Payment Providers Does Nourish Support?</h3>
<p>Right now, we’re focusing on <a href="https://www.stripe.com">Stripe.</a>
  We intend to build in support for Gumroad, as well as Apple and Android
  in-app purchases.</p>

<h3 id="faq__can-i-use-nourish">Can I Use Nourish?</h3>
<p>Yes! Ish. Nourish is <em>pre-alpha</em>. We’re focusing on the
  <em>customer onboarding</em> use case at the moment. If you’re
  comfortable with that, you can
  <a href="https://www.nourish.is/communities/nourish/memberships/new">
  buy a license today.</a> If you just want to stay informed, you
  can <a href="https://www.nourish.is/communities/nourish/memberships/new">
  become a fan</a> and get quarterly updates on the project.

<h3 id="faq__how-much-does-nourish-cost">How Much Does Nourish Cost?</h3>
<ul>
  <li><strong>A hosted license</strong> is $10 per year per 100 active
    customers. <strong>Example:</strong> Your new app has five customers.
    It costs <em>$10</em> per year to onboard and manage your customers with
    Nourish. Over the next few months, you grow the user base to 200 customers!
    Now Nourish costs <em>$20</em> per year.</li>
  <li><strong>A self-hosted license</strong> is <em>$499 per year</em> for a
    single domain for unlimited use for yourself or your organization. This
    includes a <em>perpetual fallback license</em> so you can continue to
    change and host your copy of Nourish, even if you choose not to renew your
    license.</li>
  <li><strong>A franchisee license</strong> is <em>$2,000 per year</em> for a
    single domain for unlimited use. This includes a <em>perpetual fallback
    license</em> so you can continue to change and host your copy of Nourish,
    even if you choose not to renew your license.</li>
</ul>

<h3 id="faq__i-have-a-different-question">I have a different question...</h3>
<%= render "support", message_template: "Hello,\nI'm a developer building <link to your project>. I was wondering...\n\nThanks!" %>