<div class="feature box-shadow hover-up hover-line">
  <div class="text-center"><svg class="feature__icon"><use xlink:href="/img/icons/orion-svg-sprite.svg#<%= local_assigns[:icon] %>"></use></svg></div>
  <h4 class="feature__title"><%= local_assigns[:title] %></h4>
  <p class="feature__text"><%= local_assigns[:text] %></p>
</div>