<div class="title-row title-row--boxed text-center">
  <h1 class="section-title">Configure Community</h2>
</div>

<main class="row mb-64 community-form">
  <div class="col-md-12">
    <%= form_with model: [community] do |form| %>
      <%= render "fields/text_field", form: form, field: :name %>
      <%= render "fields/text_field", form: form, field: :onboarding_question %>

      <div class="col-md-12">
        <%= form.submit class: "btn btn--lg btn--color" %>
      </div>
    <% end %>
  </div>
</main>
