<!DOCTYPE html>
<html>
  <head>
    <title>NourishIs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
