<!DOCTYPE html>
<html>
  <head>
    <title>NourishIs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <style>
      .error {
        color: #FF0000;
      }
    </style>
  </head>

  <body>
    <%= button_to "Sign Out", destroy_person_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
