/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.oh {
  overflow: hidden;
}

.relative {
  position: relative;
}

.section-wrap {
  padding: 90px 0;
  overflow: hidden;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mobile section {
  background-attachment: scroll !important;
}

.bg-dark {
  background-color: #121417;
}

.bg-light {
  background-color: #f6f6f6;
}

.bg-color {
  background-color: #2a83e8;
}

.white {
  color: #fff;
}

.static {
  position: static;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container-fluid.semi-fluid {
  padding: 0 50px;
}

.img-fw {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.last {
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  .md-text-center {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .sm-text-center {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .xs-text-center {
    text-align: center;
  }
}

img.alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}

img.alignright {
  float: right;
  margin: 10px 0 10px 20px;
}

::-moz-selection {
  color: #fff;
  background-color: #2a83e8;
}

::-webkit-selection {
  color: #fff;
  background-color: #2a83e8;
}

::selection {
  color: #fff;
  background-color: #2a83e8;
}

a {
  text-decoration: none;
  color: #2a83e8;
  outline: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #121417;
  outline: none;
}

a:focus {
  color: #2a83e8;
  text-decoration: none;
  outline: none;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #fff;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: #333;
}

body img {
  border: none;
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

video {
  height: 100%;
  width: 100%;
}

/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/
.loader-mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:99999}.loader,.loader:after,.loader:before{border-radius:50%}.loader:after,.loader:before{position:absolute;content:''}.loader:before{width:26px;height:52px;background:#fff;border-radius:52px 0 0 52px;top:-1px;left:-1px;-webkit-transform-origin:26px 26px;transform-origin:26px 26px;-webkit-animation:load2 2s infinite ease 1.5s;animation:load2 2s infinite ease 1.5s}.loader{color:#2a83e8;font-size:5px;text-indent:-99999em;margin:-25px 0 0 -25px;position:absolute;left:50%;top:50%;width:49px;height:49px;box-shadow:inset 0 0 0 3px;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.loader:after{width:26px;height:52px;background:#fff;border-radius:0 52px 52px 0;top:-1px;left:25px;-webkit-transform-origin:0 26px;transform-origin:0 26px;-webkit-animation:load2 2s infinite ease;animation:load2 2s infinite ease}@-webkit-keyframes load2{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes load2{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

hr {
  border-top: 1px solid #ebebeb;
  margin-top: 40px;
  margin-bottom: 40px;
}


/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/
ul {
  margin: 0;
  padding-left: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #111;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
  margin-top: 40px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

@media(max-width: 1000px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #323740;
  font-size: 70%;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #333;
  font-weight: normal;
  line-height: 1.7;
}

.heading {
  position: relative;
  margin-bottom: 30px;
}

.heading.large {
  font-size: 40px;
}

.heading-row {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .lead {
    font-size: 16px;
  }
}

.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

p.large {
  font-size: 120%;
  line-height: 1.8;
}


/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/

.navbar {
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  position: fixed;
  background: #f5f5f5;
  width: 300px;
  padding-top: 50px;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  padding: 5px 20px;
}

.navbar a {
  color: #616161;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  color: #000;
}

.navbar .active {
  background: #3a3a3a;
}

.navbar .active a {
  color: #fff;
}


/* Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
}

.menu-icon span {
  display: block;
  height: 2px;
  width: 20px;
  margin-bottom: 5px;
  background-color: #333;
}

.menu-icon,
.menu-icon-close {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon-close {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 13px;
  left: 16px;
  width: 20px;
  height: 20px;
}

.menu-icon-close span {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #333;
  position: absolute;
  top: 0;
}

.menu-icon-close span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: 0;
}

.menu-icon-close span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: 0;
  top: 18px;
}


@media(max-width: 1000px) {
  .navbar {
    left: -300px;
  }

  .menu-icon {
    display: block;
  }
}

@media(min-width: 1001px) {
  .menu-icon,
  .menu-icon-close {
    display: none !important;
  }
}

.navbar--is-open {
  left: 0;
}



/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/
.footer {
  margin-top: 100px;
}

/*-------------------------------------------------------*/
/* Content
/*-------------------------------------------------------*/
.content-wrapper {
  margin-left: 300px;
  padding: 60px;
  max-width: 1220px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media(max-width: 1000px) {
  .content-wrapper {
    margin-left: 0;
  }
}

@media(max-width: 537px) {
  .content-wrapper {
    padding: 40px;
  }
}

.content-wrapper--is-open {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.section-title {
  margin: 60px 0 20px;
}

.note {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #f4fafd;
}

pre[class*="language-"] {
  margin: 1em 0 2em;
}